[submodule "simd_libraries/eve"]
	path = simd_libraries/eve
	url = git@github.com:jfalcou/eve.git
[submodule "simd_libraries/highway"]
	path = simd_libraries/highway
	url = git@github.com:google/highway.git
[submodule "simd_libraries/xsimd"]
	path = simd_libraries/xsimd
	url = git@github.com:xtensor-stack/xsimd.git
[submodule "simd_libraries/nsimd"]
	path = simd_libraries/nsimd
	url = git@github.com:agenium-scale/nsimd.git
[submodule "simd_libraries/version2"]
	path = simd_libraries/version2
	url = git@github.com:vectorclass/version2.git
[submodule "simd_libraries/MIPP"]
	path = simd_libraries/MIPP
	url = git@github.com:aff3ct/MIPP.git
[submodule "simd_libraries/tsimd"]
	path = simd_libraries/tsimd
	url = git@github.com:jeffamstutz/tsimd.git
[submodule "simd_libraries/Vc"]
	path = simd_libraries/Vc
	url = git@github.com:VcDevel/Vc.git
[submodule "simd_libraries/nanobench"]
	path = simd_libraries/nanobench
	url = git@github.com:martinus/nanobench.git
[submodule "/home/haolin/SIMDTest/simd_libraries/simd_for_godbolt"]
	path = /home/haolin/SIMDTest/simd_libraries/simd_for_godbolt
	url = git@github.com:plctlab/simd_for_godbolt.git
	branch = simd_math
